@import "tailwindcss";

html,
body{
    margin:0;
    padding:0;
}

body{
    background:#030712;
    color:white;
    font-family:Inter,sans-serif;
}

body {
  background: #020617;
  color: white;
}

::selection {
  background: #06b6d4;
  color: white;
}

.glass {
  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(25px);
  border: 1px solid rgba(255,255,255,.08);
}

.card-hover {
  transition: .35s;
}

.card-hover:hover {
  transform: translateY(-8px);
}

.gradient-text {
  background: linear-gradient(
      90deg,
      #38bdf8,
      #06b6d4,
      #818cf8
  );
  -webkit-background-clip: text;
  color: transparent;
}